.cm-labels-nav-active {
  height: 0.35%;
  font-family: "Proxima Nova Bold";
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1px;
  color: #54CEEE;
}

.cm-labels-nav-disabled {
  height: 0.35%;
  font-family: "Proxima Nova Bold";
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1px;
  color: grey;
}

.cm-labels-nav-disabled:hover {
  opacity: .5;
  cursor: pointer;
}

.cm-img-nav {
  width: 143px;
  height: 50px;
}